.title{
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin: 40px 0 22px;
}
.inner-main-box{
   
    width: 450px;
    margin: 0 auto 40px;
    padding:40px ;
    background: #fff;
    border:1px solid #e0e0e0; 
    position: relative;
    /* position: fixed; */
}
.inner-inner-main-box{
    box-sizing: border-box;

   
}
.text{
    text-align: center;
    line-height: 22px;
    font-size: 16px;
    margin: 30px ;
    color: #212121
}
.input-section{
    /* border: 1px solid black; */
    margin-bottom: 16px;
    
}

#input-box{
    width: 100%;
    font-size: 16px;
    padding: 14px;
    border: solid 1px #e0e0e0;
    font-weight: 700;
    border-radius: 4px;
}
#eye{
    background: url("https://accounts.hindustantimes.com/images/eye.svg")
    no-repeat 0 -23px;
    width: 20px;
    height: 20px;
    position: absolute;
   right: 10px;
   top: 19px;

   margin-top: 144px;
    cursor: pointer;
}
.pass-criteria{
 
    
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
    gap: 2px;
    padding-left: 5px;
}
.pass-criteria li{
    background: url("https://images.livemint.com/img/static/check_grey.svg") no-repeat 0 -1px;
    display: inline-block;
    color: #757575;
    padding-left: 22px;
    margin-top: 8px;
   

}
.strength-text{
    /* border: 1px solid black; */
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
}
.strength-bar{
    height: 6px;
    border-radius: 2px;
    background-color: #dbdbdb;
    width: 100%;
    position: relative;
}
/* .flot{
    width: 25%;
    background-color: red;
    position: absolute;
} */
.btn-box{
    text-align: center;
    padding: 20px;
}
#btn-click{
    background: #dbdbdb;
border: 1px solid #dbdbdb;
cursor: not-allowed;
padding: 16px 50px;
border-radius: 24px;
color: #fff;
font-size: 18px;
font-weight: 700;
}