*{
    font-family : "Lato",sans-serif;
    font-weight:bold;
}
body{
    margin: 0;
}
#main-navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}
#Upper-part-div{
    background-color:#011e29;

}
#navbar{
    display: flex;
 width: 80%;
    justify-content: space-between ;
    margin: auto;
   align-items: center;
   height: 100px;
   
}
#navbar-left-top{
display: flex;
justify-content: space-between;
width: 70%;
margin-bottom: 20px;
color: white;

}
#navbar-left-hambargur{
display: flex;
align-items: center;
cursor: pointer;
}
#navber-left-search{
display: flex;
align-items: center;
}

#navbar-right-top{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
color: white;
width: 300px;
}
#navbar-right-game{
display: flex;
align-items: center;
}
#navbar-right-epage{
display: flex;
align-items: center;
}
#navbar-right-login{
display: flex;
align-items: center;
}
#subscribe{
/* font-size: 19px; */
font-weight: 200;
padding: 3px;
}
a{
text-decoration: none;
color: white;

}
#navbar-bottom{
padding: 10px;
background-color: white;

}

#navbar-bottom >ul{
display: flex;
justify-content: space-around;
width: 80%;
margin: auto;

}
#navbar-bottom >ul>li>a{
text-decoration: nono;
color: black;
font-size: larger;
}
#navbar-bottom >ul>li{
list-style: none;
margin-left: -30px;
}
#navbar-bottom >ul>li>a:hover{
color:#00b1cd ;
}


/* --------------------------hambarger-bar------------------------- */

 #hambarger{
            position:fixed;
            top: 0;
            left: 0;
            width: 400px;
     
            background-color: #011e29;
            z-index: 10000;
            /* margin-top: -130px; */
            display: none;
           
        }
        #hambarger-top{
            display: flex;
            justify-content: space-around;
            text-align: center;
            align-items: center;
            color: white;
           
        }
        #hambarger-top-img{
            padding: 5px;
        }
        #hambarger-top-img>a>img{
            width: 50px;

        }
        #hambarger-bottom-signIn{
            display: flex;
           position: fixed;
           bottom: 0;
           width: 400px;
           
            justify-content: space-around;
            align-items: center;
            background-color: black;
            height: 60px;
        }
        #sign-in>a{
            text-decoration: none;
            color: white;
        }
        #social-media{
            display: flex;
            /* justify-content: space-between; */
            align-items: center;
            gap: 30px;
            /* border: 2px solid blue; */
        }
        #social-media>div>i{
            color: #037bff;
/* background-color: white; */
        }
        #fa-twitter-square{
            color:#5763ee;
        }
       #hambarger-main-top>hr{
         color: #037bff;
        }
        #hambarger-bottom{
            height: 100vh;
            overflow: scroll;
            overflow-x: hidden;
        }
        /* #hambarger-bottom::-webkit-scrollbar{
            display: none;
        } */
        #hambarger-bottom::-webkit-scrollbar{
            width: 8px;
        }
        #hambarger-bottom::-webkit-scrollbar-thumb{
            background-color:rgba(255,255,255,0.5);;
            border-radius: 6px;
        }
        /* #hambarger-bottom::-webkit-scrollbar-track{
            background-color: #fff;
        } */
        #hamberger-option{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 80%;
            margin: auto;
            
        }
        #hamberger-option>a{
            text-decoration: none;
            color: white;
        font-weight: bold;
        }
       .fa-xmark{
         font-size: 30px;
         cursor: pointer;
       }


       /* -----------------------------my account-------------------------- */
       #sign-hamberger{
           position: fixed;
        width: 400px;
        height: 100vh;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        z-index: 10000;
        right: 0;
        top: 0;
        background-color: white;
        /* display: none; */
        display: none;
    }
    #sign-hambarger-top{
        background-color: #011e29 ;
       align-items: center;
       padding: 10px;
    }
    #sign-hambarger-cross{
        display: flex;
        justify-content: end;
        color: white;

    }
    #sign-hambarger-profile{
        text-align: center;
        color: white;

    }
    #sign-hambarger-profile>button{
        background-color: transparent;
        color: white;
        border: 1px solid white;
        cursor: pointer;
    }
    .fa-circle-user{
        font-size: 100px;
    }
  
    #sign-hambarger-bottom>div{
        width: 80%;
        margin: auto;
        margin-top: 40px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        padding: 5px;
    }
    #sign-hambarger-bottom>div>a{
text-decoration: none;
color: black;
    }


/* ------------------Fotter-css-------------- */
#upper_fotter{
    background-color: #011e29;
    /* height: 500px; */
    /* width: 100%; */
}

#subscribe_logo>img{
    height: 100px;
    width: 400px;
}
#subscribe_logo{
    width:  75%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    /* column-gap: 400px; */
}
#newsletter{
    color: white;
    font-family: Lato, sans-serif;
}
.subscribe__social>div>img{
    
    height: 40px;
    width: 40px;
    
}

.subscribe__social{
 display: flex;
 gap: 30px; 
}
#subscribe_input{
    width: 75%;
    margin: auto;
    padding-bottom: 20px;
    /* margin: 200px; */
    border-bottom: 1px solid #2d4456;
    display: flex;
    justify-content: space-between;
}
#fotter_select{
    height: 36px;
    border-radius: 4px;
}
#fotter_input{
    height: 30px;
    border-radius: 4px;
}

#fotter_button{
    height: 35px;
    border-radius: 4px;
    background-color:#011e29 ;
    color: white;
    border: 1px solid white;
}
.fotter_a_tags{
    /* border: 1px solid red; */
    /* margin-top: 20px; */
    width: 81%;
    margin: auto;
display: grid;
grid-template-columns: repeat(6,1fr);
/* justify-content: start; */

/* text-align: center; */
/* row-gap: 30px; */
}
.fotter_a_tags>ul>li>a{
    text-decoration: none;
    color: #a3a09c;
    font-family: Lato,sans-serif;
}
#fotter_mid_head>a{
    color: white;
    font-size: 15px;
    
}
.fotter_a_tags >ul>li{
    margin-bottom: 20px;
    list-style-type: none;
}
.fotter_a_tags>ul>li>a:hover{
    color: white;
    text-decoration: underline;
}
#lower_fotter{
    background-color: 
    #00131a;
   
}
#lower_fotter_a>ul>li{
    margin-bottom: 20px;
    list-style-type: none;
}
#lower_fotter_a{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 81%;
}
#lower_fotter_logo{
    width: 75%;
    margin: auto;
    border-top: 1px solid #2a3032;
    
    border-bottom: 1px solid #2a3032;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}
#lower_fotter_logo>div>img{
    height: 30px;
    width: 70px;
}
#lower_fotter>p{
    color: #a3a09c;
    text-align: center;
    font-family: Lato,sans-serif;
}
#lower_fotter_head>a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: Lato,sans-serif;
    
}



.blackOverlay{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.76;
    z-index: 1000;
    display: none;
    cursor: pointer;
    
}


#hamberger-option{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: auto;
    cursor: pointer;
    
}
#hamberger-option>a{
    text-decoration: none;
    color: white;
font-weight: bold;
}
.option-menu{
    display: flex;
    justify-content: space-between;
    color: white;
}
.choose-icon{
    display: flex;
    justify-content: space-between;
    color: #00b1cd;
    width: 80%;
    padding: 5px;
    margin: auto;
}
.choose-down-bar>li{
 
    list-style: none;
    margin-bottom: 20px;

   
}
.choose-down-bar>li>a{
    text-decoration: none;
    color: white;
}
.hamberger-choose{
width: 400px;
background-color:#01171f;
margin-left: -38px;
}

.hamberger-choose{
    display: none;
    cursor: pointer;
}

@media all and (min-width:381px) and (max-width:900px){
    #main-navbar{
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    #Upper-part-div{
        background-color:#011e29;
    
    }
    #fotter{
        display: none;
    }
    #navbar{
        display: flex;
     width: 100%;
        justify-content: space-between ;
        margin: auto;
       align-items: center;
       height: 100px;
       font-size: 15px;
       
    }
    #navbar-left-bottom{
        display: none;
    }
    #navbar-left-top{
    display: block;
    /* justify-content: space-between; */
    width: 70%;
    margin-bottom: 20px;
    color: white;
    
    }

    #navbar-left-hambargur{
    display: flex;
    align-items: center;
    cursor: pointer;
    }
    #navber-left-search{
    display: flex;

    align-items: center;
    }
    
    

    #navbar-right-top{
    display: flex;
    justify-content: end;

    margin-bottom: 20px;
    width: 100px;
    color: white;
    /* border: 2px solid white; */
    

  
    }
    #navbar-right-game{
    display: flex;
    display: none;
    align-items: center;
    }
    #navbar-right-epage{
    display: flex;
    align-items: center;
    display: none;
    }
    #navbar-right-login{
    display: flex;
    /* align-items: center; */
   text-align:end ;
    }

    #navbar-right-bottom{
        display: none;
    }
    #subscribe{
    /* font-size: 19px; */
    font-weight: 200;
    padding: 3px;
   
    }
    a{
    text-decoration: none;
    color: white;
    
    }
    #navbar-bottom{
    padding: 10px;
    background-color: white;
    max-width:840 ;
    overflow: scroll;
    overflow-y:hidden ;
    
    }
    
    #navbar-bottom >ul{
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    max-width: 800px;
    /* margin: auto; */
    column-gap: 40px;
    
    }
    #navbar-bottom >ul>li>a{
    text-decoration: nono;
    color: black;
    font-size: larger;
    }
    #navbar-bottom >ul>li{
    list-style: none;
    margin-left: -30px;
    font-size: 10px;
    }
    #navbar-bottom >ul>li>a:hover{
    color:#00b1cd ;
    }
    #navbar-mid,#navbar-img{
        width: 80px;
    }

    #navbar-img{
        width: 170px;
    }
    
    /* ------------------Fotter-css-------------- */
    #upper_fotter{
        background-color: #011e29;
        /* height: 500px; */
        /* width: 100%; */
    }
    
    #subscribe_logo>img{
        height: 100px;
        width: 400px;
    }
    #subscribe_logo{
        width:  75%;
        margin: auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        /* column-gap: 400px; */
    }
    #newsletter{
        color: white;
        font-family: Lato, sans-serif;
    }
    .subscribe__social>div>img{
        
        height: 40px;
        width: 40px;
        
    }
    
    .subscribe__social{
     display: flex;
     gap: 30px; 
    }
    #subscribe_input{
        width: 75%;
        margin: auto;
        padding-bottom: 20px;
        /* margin: 200px; */
        border-bottom: 1px solid #2d4456;
        display: flex;
        justify-content: space-between;
    }
    #fotter_select{
        height: 36px;
        border-radius: 4px;
    }
    #fotter_input{
        height: 30px;
        border-radius: 4px;
    }
    
    #fotter_button{
        height: 35px;
        border-radius: 4px;
        background-color:#011e29 ;
        color: white;
        border: 1px solid white;
    }
    .fotter_a_tags{
        /* border: 1px solid red; */
        /* margin-top: 20px; */
        width: 81%;
        margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* justify-content: start; */
    
    /* text-align: center; */
    /* row-gap: 30px; */
    }
    .fotter_a_tags>ul>li>a{
        text-decoration: none;
        color: #a3a09c;
        font-family: Lato,sans-serif;
    }
    #fotter_mid_head>a{
        color: white;
        font-size: 15px;
        
    }
    .fotter_a_tags >ul>li{
        margin-bottom: 20px;
        list-style-type: none;
    }
    .fotter_a_tags>ul>li>a:hover{
        color: white;
        text-decoration: underline;
    }
    #lower_fotter{
        background-color: 
        #00131a;
       
    }
    #lower_fotter_a>ul>li{
        margin-bottom: 20px;
        list-style-type: none;
    }
    #lower_fotter_a{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        width: 81%;
    }
    #lower_fotter_logo{
        width: 75%;
        margin: auto;
        border-top: 1px solid #2a3032;
        
        border-bottom: 1px solid #2a3032;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        
    }
    #lower_fotter_logo>div>img{
        height: 30px;
        width: 70px;
    }
    #lower_fotter>p{
        color: #a3a09c;
        text-align: center;
        font-family: Lato,sans-serif;
    }
    #lower_fotter_head>a{
        color: white;
        font-size: 15px;
        text-decoration: none;
        font-family: Lato,sans-serif;
        
    }
    
    
    
    
    
  
    
    

}
    
    @media all and (min-width:50px) and (max-width:440px){
        #main-navbar{
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        #Upper-part-div{
            background-color:#011e29;
        
        }
        #fotter{
            display: none;
        }
        #navbar{
            display: flex;
         width: 100%;
            justify-content: space-between ;
            margin: auto;
           align-items: center;
           height: 60px;
           font-size: 15px;
           
        }
        .material-symbols-outlined{
            font-size: 12px;
        }
        #navbar-left-bottom{
            display: none;
        }
        #navbar-left-top{
        display: block;
        /* justify-content: space-between; */
        width: 70%;
        margin-bottom: 20px;
        color: white;
        
        }
    
        #navbar-left-hambargur{
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 8px;
        }
    #sign-in-account{
            font-size: 8px;
        }
        #navber-left-search{
        display: flex;
        font-size: 8px;
        align-items: center;
        }
        
        
    
        #navbar-right-top{
        display: flex;
        justify-content: end;
    
        margin-bottom: 20px;
        width: 100px;
        color: white;
        /* border: 2px solid white; */
        
    
      
        }
        #navbar-right-game{
        display: flex;
        display: none;
        align-items: center;
        }
        #navbar-right-epage{
        display: flex;
        align-items: center;
        display: none;
        }
        #navbar-right-login{
        display: flex;
        /* align-items: center; */
       text-align:end ;
        }
    
        #navbar-right-bottom{
            display: none;
        }
        #subscribe{
        /* font-size: 19px; */
        font-weight: 200;
        padding: 3px;
       
        }
        a{
        text-decoration: none;
        color: white;
        
        }
        #navbar-bottom{
        padding: 10px;
        background-color: white;
        max-width:840 ;
        overflow: scroll;
        overflow-y:hidden ;
        
        }
        
        #navbar-bottom >ul{
        display: flex;
        /* justify-content: space-around; */
        width: 100%;
        max-width: 800px;
        /* margin: auto; */
        column-gap: 40px;
        
        }
        #navbar-bottom >ul>li>a{
        text-decoration: nono;
        color: black;
        font-size: 10px;
        }
        #navbar-bottom >ul>li{
        list-style: none;
        margin-left: -30px;
        /* font-size: 2px; */
        }
        #navbar-bottom >ul>li>a:hover{
        color:#00b1cd ;
        }
        #navbar-mid,#navbar-img{
            width: 80px;
        }
    
        #navbar-img{
            width: 170px;
        }
        
        /* ------------------Fotter-css-------------- */
        #upper_fotter{
            background-color: #011e29;
            /* height: 500px; */
            /* width: 100%; */
        }
        
        #subscribe_logo>img{
            height: 100px;
            width: 400px;
        }
        #subscribe_logo{
            width:  75%;
            margin: auto;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            /* column-gap: 400px; */
        }
        #newsletter{
            color: white;
            font-family: Lato, sans-serif;
        }
        .subscribe__social>div>img{
            
            height: 40px;
            width: 40px;
            
        }
        
        .subscribe__social{
         display: flex;
         gap: 30px; 
        }
        #subscribe_input{
            width: 75%;
            margin: auto;
            padding-bottom: 20px;
            /* margin: 200px; */
            border-bottom: 1px solid #2d4456;
            display: flex;
            justify-content: space-between;
        }
        #fotter_select{
            height: 36px;
            border-radius: 4px;
        }
        #fotter_input{
            height: 30px;
            border-radius: 4px;
        }
        
        #fotter_button{
            height: 35px;
            border-radius: 4px;
            background-color:#011e29 ;
            color: white;
            border: 1px solid white;
        }
        .fotter_a_tags{
            /* border: 1px solid red; */
            /* margin-top: 20px; */
            width: 81%;
            margin: auto;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        /* justify-content: start; */
        
        /* text-align: center; */
        /* row-gap: 30px; */
        }
        .fotter_a_tags>ul>li>a{
            text-decoration: none;
            color: #a3a09c;
            font-family: Lato,sans-serif;
        }
        #fotter_mid_head>a{
            color: white;
            font-size: 15px;
            
        }
        .fotter_a_tags >ul>li{
            margin-bottom: 20px;
            list-style-type: none;
        }
        .fotter_a_tags>ul>li>a:hover{
            color: white;
            text-decoration: underline;
        }
        #lower_fotter{
            background-color: 
            #00131a;
           
        }
        #lower_fotter_a>ul>li{
            margin-bottom: 20px;
            list-style-type: none;
        }
        #lower_fotter_a{
            margin: auto;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            width: 81%;
        }
        #lower_fotter_logo{
            width: 75%;
            margin: auto;
            border-top: 1px solid #2a3032;
            
            border-bottom: 1px solid #2a3032;
            padding-top: 15px;
            padding-bottom: 15px;
            display: flex;
            justify-content: space-between;
            gap: 30px;
            
        }
        #lower_fotter_logo>div>img{
            height: 30px;
            width: 70px;
        }
        #lower_fotter>p{
            color: #a3a09c;
            text-align: center;
            font-family: Lato,sans-serif;
        }
        #lower_fotter_head>a{
            color: white;
            font-size: 15px;
            text-decoration: none;
            font-family: Lato,sans-serif;
            
        }
        
        
        
        
        
      
        
        
    

    } 